@import url('https://fonts.googleapis.com/css?family=Righteous');
body {
  background: #FFB8B2;
  background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  text-align: center;
  font-family: 'Quicksand', sans-serif,'Righteous', cursive;;
  font-weight: bold;
  text-transform: uppercase;
  color: #251351;
    margin: 0;
    padding: 0;
    overflow: auto;}
body audio {position: absolute;
    margin-top: 75%; }
span {color:navy;}
h1 { font-style: italic;}                        
h1:first-letter {
    font-size:76px;
    color: darkred;}
h1 strong {
  display:block;
  font-family: 'Ewert', cursive;
  font-size: 90px;
  font-weight: normal;
  color: #770B31;}
form {
    animation-name: move;
    animation-duration: 50s;
    animation-delay: 1s;
    animation-timing-function: linear;
    width: 5000px;
    animation-iteration-count: infinite;
    animation-direction: normal;
    margin-top:300px;
}

 
label {
    box-shadow: inset 0 0 0 5px #F9DC5C, inset 0 0 0 10px #ffffff;
  
      } 

.click {
    height: 23px;
    width: 127px;}
input:checked + label {
    transform: rotatex(70deg);}
label:first-of-type {
  width: 188px;
  padding-bottom: 140px;
  background: url("images/a.jpg");
  background-size:cover;
    left: 0;
    transform:rotate(-360deg); 
	transition: transform 2s;
}

label:nth-of-type(2) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/b.jpg");
  background-size: cover;
    left: 5%;
    transform:rotate(360deg); 
	transition: transform 2s;
}
label:nth-of-type(3) {
  width:188px;
  padding-bottom: 140px;
  background: url("images/c.jpg");
  background-size: cover;
    left: 10%;
    transform:rotate(-360deg); 
	transition: transform 2s;
}
label:nth-of-type(4) {
  width: 188px;
  padding-bottom: 140px;
  background: url("images/d.jpg");
  background-size: cover;
  left: 15%;
  transform:rotate(360deg); 
	transition: transform 2s;
}
label:nth-of-type(5) {
   width: 188px;
  padding-bottom: 140px;
  background: url("images/e.jpg");
  background-size: cover;
  left: 20%;
  transform:rotate(-360deg); 
	transition: transform 2s;
}
label:nth-of-type(6) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/f.jpg");
  background-size: cover;
  left: 25%;}
label:nth-of-type(7) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/g.jpg");
  background-size: cover;
  left: 30%;}
label:nth-of-type(8) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/h.jpg");
  background-size: cover;
  left: 35%;}
label:nth-of-type(9) {
  width: 188px;
  padding-bottom: 140px;
  background: url("images/i.jpg");
  background-size: cover;
  left: 40%;}
label:nth-of-type(10) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/j.jpg");
  background-size: cover;
  left: 45%;}
label:nth-of-type(11) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/k.jpg");
  background-size: cover;
  left: 50%;}
label:nth-of-type(12) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/l.jpg");
  background-size: cover;
  left: 55%;}
label:nth-of-type(13) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/m.jpg");
  background-size: cover;
  left: 60%;}
label:nth-of-type(14) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/n.jpg");
  background-size: cover;
  left: 65%;}
label:nth-of-type(15) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/o.jpg");
  background-size: cover;
  left: 70%;}
label:nth-of-type(16) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/p.jpg");
  background-size: cover;
  left: 75%;}
label:nth-of-type(17) {
 width: 188px;
  padding-bottom: 140px;
  background: url("images/q.jpg");
  background-size: cover;
  left: 80%;}
label:nth-of-type(18) {
  width:188px;
  padding-bottom: 140px;
  background: url("images/r.jpg");
  background-size: cover;
  left: 85%;}
label:nth-of-type(19) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/s.jpg");
  background-size: cover;
  left: 90%;}
label:nth-of-type(20) {
  width:188px;
  padding-bottom: 140px;
  background: url("images/t.jpg");
  background-size: cover;
  left: 95%;}
label:nth-of-type(21) {
  width: 188px;
  padding-bottom: 140px;
  background: url("images/u.jpg");
  background-size: cover;
  left: 100%;}
label:nth-of-type(22) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/v.jpg");
  background-size: cover;
  left: 105%;}
label:nth-of-type(23) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/w.jpg");
  background-size: cover;
  left: 110%;}
label:nth-of-type(24) {
  width:188px;
  padding-bottom: 140px;
  background: url("images/x.jpg");
  background-size: cover;
  left: 115%;}
label:nth-of-type(25) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/y.jpg");
  background-size: cover;
  left: 120%;}
label:nth-of-type(26) {
 width:188px;
  padding-bottom: 140px;
  background: url("images/z.jpg");
  background-size: cover;
  left: 125%;}
@keyframes move {
      from {right: 0;}
    to {right:5000px;}
    to {transform: translatey(-100%);}



