@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Coiny|Dancing+Script|Handlee');


body{
    background-color:#F7EDF0;
    background-image: url(rainbow.jpeg);
     background-attachment: fixed;
  
  

}
#container {
    max-width: 960px;
    margin:auto;
    background-color: #fff;
    padding: 32px;
}

header
{
    position:center;
    background-color: #F4AFAB;
    height: 150px;
    padding: 4px;
    font-family: 'Butterfly Kids', cursive;
    text-align:center;
    font-size: 5em;
    color:#6A383B;
    font-weight: bold;
    text-shadow: 4px 4px 4px #F7EDF0;
   

}

aside nav ul {
    
    list-style-type: none;
    margin: 0;
    padding:0;
}

aside ul {
    list-style-type: none;
    margin:0;
    padding:0;
    font-weight: bold;
    line-height: 2;  
    
}

aside ul::first-line {
    color: black;
    font-weight: bold;
}


li a {
    display: block;
    color: darkcyan;
    text-decoration:none;
    border:2px solid; 
    border-radius: 30px;
    background-color:#C1F7DC;
    font-size: 33px;
    width: 100px;
    text-align:center;
}

li a:hover {
    background-color: #555;
    color: white;
    width: 100px;

}

#leftsidebar {
    width:150px;
    margin:0 0 10px 0;
    padding:5px;
    background-color:#F7567C;
    height:800px;
    float:left;
    font-family:'Handlee', cursive;;
    color: white;
}

main {
    height: 800px;
    background-color: #F4CBC6;
    font-family: 'Indie Flower', cursive;
    width:630px;
    margin:auto;
    padding:5px;
    float:left;
}

main h1 {
    text-align: center;
    color: #E54B4B;
    font-size: 55px;
    padding: 5px 5px 0 25px;
}

main h2{
    text-align: center;
    color: #0094ff;
    font-size: 40px;
    padding: 5px 5px 0 25px;
}

main p {
    text-align: justify;
    padding: 5px 5px 0 25px;
    text-indent: 50px;
    font-size: 1.2em;
}

#p0 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
}

#p1 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    font-style:italic;
}
#p2 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    font-weight:bold;
}
#p3 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    font-variant:small-caps;
}
#p4 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    line-height: 4em;
}
#p5 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    text-transform:uppercase;
}
#p6 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    text-decoration:underline;
}
#p7 {
    text-align: justify;
    padding: 5px 5px 0 75px;
    text-indent: 50px;
    font-size: 1.2em;
    text-shadow:2px 2px 10px #ffd800;
}

#rightsidebar {
    text-align:center;
    width:150px;
    margin:0 0 10px 0;
    padding:5px;
    background-color:#F7567C;
    height:800px;
    float:right;
    color: white;
    font-family:'Handlee', cursive;
    font-size: 20px;  
}


main img {
    display: block;
    margin: auto;
}


footer {
    max-width: 960px;
    padding: 4px;
    height: 210px;
    background-color:#F4CBC6 ;
    border-top:20px solid white;
    clear: both;
}

footer address {
    color:#9E5458;
    text-align: center;
    font-size: 22px;
    padding: 5px 5px 0 25px;
    
}

footer img {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: block;
    margin: auto;
    width:75px;
    height:75px;
}